
<!--Musa Patiguli 301164030 Assignment 1 Oct 7,2022-->

<html lang="en">
<head>
<meta charset="utf-8">
<title>Project-Home</title>

<link rel = "stylesheet" href ="Project-Home.css"/>

<body bgcolor=#DCDCDC>
</head>
<body>

<header>

<!--Musa Patiguli 301164030-->
</header>
<nav>

</nav>
&nbsp; &nbsp; &nbsp; &nbsp;
<main>
  <hr>
<h1>My Services </h1>

<br><br>


<p><img src="./content/images/Serv.jpg" alt="image"></p>

<p><br><br>
<ul>
    <li>Web Design using HTML, CSS, and JavaScript</li><br>
    <li>SQL database </li><br>
    <li>Software system design</li><br>
    <li>Jawa Programming</li><br>
    <li>C# programminge</li><br>
    <li>Software requirement Engineering</li><br>
    <li>Unix/Linux operating sysytem</li><br>
    
</ul>
    

</p>

</main>
<footer>


</div>


<br><br>
<small><i>copyfight &copy   Musa Patiguli 301164030 Assignment 1</i></small>
</footer>
</body>   